.nav--buttons{
    border: none;
    color: white;
    font-size: 16px;
    padding: 15px 15px;
    min-width: 150px;
    transition: all 300ms;
}

.nav--buttons.dark{
    background: none;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.nav--buttons.dark:hover{
    background-color: grey; 
}

.nav--buttons.light{
    background: none;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.nav--buttons.light:hover{
    background-color: rgb(255, 179, 38);
}

.nav--buttons-container::-webkit-scrollbar{
    display: none;
}

.nav--buttons-container{
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    scrollbar-width: none;
    margin: 0;
}

.nav--buttons-container.dark {
    background-color: rgb(22, 22, 22);
}

.nav--buttons-container.light {
    background-color: rgb(248, 209, 137);
}