body{
    margin: 0;
    color: white;
    background-color: rgb(185, 185, 185);
}

body.dark{
    background-color: rgb(185, 185, 185);
}

body.light{
    background-color: white;
}

a {
    user-select: none;
    -webkit-user-drag: none;
    color: white;
    text-decoration: none;
}

.dark {
    background-color: black;
}

.light {
    background-color: rgb(255, 179, 38);
}

.grid {
    display: flex;
    justify-content: space-between;
}






