.main--header{
    
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.icon--container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
}

.weather--icon{
    margin-right: 15px;
}

.search--space,.country--space{
    color: white;
    width: 300px;
    letter-spacing: 1px;
    font-size: 16px;
    text-align: center;
    background: none;
    height: 35px;
    border: none;
    outline: none;
    border-right: 1px solid white;
}

.search--icon{
    height: 25px;
    margin: 0 10px;
}

.search--space::placeholder,.country--space::placeholder{
    color: white;
}

.search--space--container{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: fit-content;
    border: 1px solid white;
    border-radius: 10px;
}

.search--space--container.light,
.city--dropdown.light,
.country--space--container.light{
    background-color: rgb(248, 209, 137);
}

.search--space--container.dark,
.country--dropdown.dark,
.city--dropdown.dark, 
.country--space--container.dark{
    background-color: grey;
}

.country--dropdown, .city--dropdown{
    position: absolute;
    width: 95%;
    left: 2.5%;
    right: 2.5%;
    list-style: none;
    padding: 0;
    margin: 1px 0 0 0;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.country--space--container{
    position: relative;
    text-align: center;
    margin: auto;
    height: 40px;
    border-radius: 10px;
    width: 220px
}

.country--space{
    width: 200px;
    border: none;
}


.city--dropdown{
    width: 300px;
}

.country--dropdown li, .city--dropdown li{
    border-bottom: 1px solid white;
    padding: 10px 0;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}

.unit{
    display: flex;
    background: none;
    align-items: center;
}

.settings--icon{
    height: 30px;
}

.settings--button{
    background: none;
    padding: 5px;
    margin-left: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

.search--suggestion--container {
    position: relative;
}